/* $Id$ */

/* Variables */
@playlist_item_count = 2;
@player_width: 400px;
@playlist_width: 200px;
@playlist_border_color: #666666;
@border_radius:5px;
@playlist_bg:#2b2b2b;
@border_width:1px;
@playlist_item_color:black;
@default_padding:5px;
@text_color_subdued:#9e9e9e;
@background_color_playing:#2b2b2b;
@text_color_playing:white;

/* Calculated variables */
@player_height: @player_width * .75;
@playlist_item_height: @player_height / @playlist_item_count - @default_padding - @default_padding - @border_width;
@pager_width:@playlist_width + @player_width + @border_width + @border_width + @border_width;

/* Functions */
.rounded (@radius: @border_radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}
.rounded-tl (@radius: @border_radius) {
  -moz-border-radius-topleft: @radius;
  -webkit-border-top-left-radius: @radius;
  border-top-left-radius: @radius;
}
.rounded-tr (@radius: @border_radius) {
  -moz-border-radius-topright: @radius;
  -webkit-border-top-right-radius: @radius;
  border-top-right-radius: @radius;
}
.rounded-bl (@radius: @border_radius) {
  -moz-border-radius-bottomleft: @radius;
  -webkit-border-bottom-left-radius: @radius;
  border-bottom-left-radius: @radius;
}
.rounded-br (@radius: @border_radius) {
  -moz-border-radius-bottomright: @radius;
  -webkit-border-bottom-right-radius: @radius;
  border-bottom-right-radius: @radius;
}


/* Classes to inherit */
.debug {
  border:2px solid red;
}


/* Everything else */
#views_player {
  width: @player_width;
  height:@player_height;
  border:1px solid @playlist_border_color;
  float:left;
  background:url('images/play-bg.jpg') no-repeat center;
  cursor:pointer;
}
.views-playlist {
  width:@playlist_width;
  background:@playlist_bg;
  overflow-x: hidden;
  overflow-y:auto;
  height:@player_height;
  border:@border_width solid @playlist_border_color;
  .playlist-item > a, .playlist-item > a:link, .playlist-item > a:hover, .playlist-item > a:visited {
    color:@text_color_subdued;
    text-decoration:none;
  }
  .playlist-item {
    padding: @default_padding;
    padding-right: @default_padding*4;
    line-height:normal;
    display:block;
    height:@playlist_item_height;
    background:@playlist_item_color;
    margin-bottom:@border_width;
    line-height:normal;
  }
  .playlist-item > a {
    display:block;
    height:@playlist_item_height;
  } 
  .playlist-item.progress, .playlist-item.progress > a {
  }
  .playlist-item.playing, .playlist-item.playing > a {
    background:@background_color_playing;
    color:@text_color_playing;
  }
  label {
    font-weight:bold;
    padding-right:3px;
  }
  .views-field-field-thumbnail-fid {
    float:left;
    margin: 0px 5px 30px 0px;
  }
  .views-field-title {
    max-height:35px;
    overflow:hidden;
  }
}
.right {
  .views-playlist {
    .rounded-tr;
    border-left:0px;
  }
  #views_player {
    .rounded-tl;
  }
}
.left {
  .views-playlist {
    float:left;
    margin-left:0px;
    .rounded-tl;
  }
  #views_player {
    .rounded-tr;
  }
}
.no-pager {
  .left {
    .views-playlist {
      .rounded-bl;
    }
    #views_player {
      .rounded-br;
    }
  }
  .right {
    .views-playlist {
      .rounded-br;
    }
    #views_player {
      .rounded-bl;
    }
  }
}
.views-player-overlay {
  position:absolute;
  width:@player_width - 10;
  background:white;
  display:none;
  padding:1px;
  font-size:11px;
  line-height:normal;
  margin-top:2px;
  .rounded;
  border:1px solid #666666;
  border-bottom-width:2px;
  border-right-width:2px;
  margin-left:2px;
  
  .views-player-overlay-inner {
    border:1px solid #d7d7d7;
    background:url('images/overlay-bg.png') left repeat-y;
    padding:3px 20px 3px 35px;
    min-height:50px;
    .rounded;
  }
}
.overlay-close {
  position:absolute;
  margin-left:@player_width - 25;
  margin-top:2px;
  cursor:pointer;
  width:12px;
  height:12px;
  background:url('images/close.png') no-repeat;
}
.left .views-player-overlay {
  margin-left:@playlist_width + 5;
}
.fp-cuepoints {
  display:none;
}
.contains-playlist {
  .pager {
    a, a:link, a:hover, a:visited {
      color:@text_color_playing;
    }
    font-size:24px;
    margin-left:0px;
    margin-top:0px;
    padding:1px 0px;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .item-list {
    width: @pager_width;
    color:@text_color_playing;
    .rounded-bl;
    .rounded-br;
    background:@playlist_bg;
    padding:0px;
  }
  .pager-current {
    font-size:12px;
    color:@text_color_subdued;
  }
  .views-throbbing {
    display:none;
  }

}